@charset "UTF-8";
.header {
	width: 960px;
	height: auto;
}
.content {
	width: 960px;
}
.content .col1 {
	width: 550px;
	float: left;
	padding-left: 30px;
	background-color: #FFFFFF;
	word-spacing: 0px;
	color: #4E4E4E;
	font-size: large;
	padding-top: 0px;
}
.content .col2 {
	width: 350px;
	float: left;
	padding-left: 30px;
	background-color: #FFFFFF;
	text-align: center;
}
.nav {
	padding-left: 0px;
	margin-left: 0px;
	left: 0px;
	color: #D2181B;
	word-spacing: normal;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	width: 960px;
}
body {
	background-color: #616161;
}
.nav a {
	padding-right: 50px;
	padding-left: 61px;
	background-color: #DEDEDE;
	color: #F70F0F;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-decoration: none;
	font-weight: bold;
	font-size: large;
}
.content .col1 p a {
	font-style: normal;
	color: #F70F0F;
	text-decoration: none;
}
.content .col1 ul li {
	padding-bottom: 25px;
}
.content .col2 img {
	height: 150px;
	text-align: center;
}
.content .col1 p a2 {
}
.content .col1 p img {
	text-align: center;
}
.content .col1 ul li a {
	color: #04B7AF;
	text-decoration: none;
	font-size: x-large;
}
